<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="657fd0">  <td>18/06/25 19:02:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;projectbase.afterMethod()[pri:0, instance:com.ham.project.projecttext@f6c48ac]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/06/25 18:48:15</td>   <td>-858367</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;projectbase.beforeMethod()[pri:0, instance:com.ham.project.projecttext@f6c48ac]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:48:20</td>   <td>-853334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:48:44</td>   <td>-829836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:49:02</td>   <td>-811632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:49:27</td>   <td>-786025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:49:50</td>   <td>-763392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:50:12</td>   <td>-741087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:50:37</td>   <td>-716040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:51:03</td>   <td>-690409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:51:26</td>   <td>-666922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:51:51</td>   <td>-642643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:52:14</td>   <td>-619142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:52:37</td>   <td>-596340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:52:59</td>   <td>-574631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:53:24</td>   <td>-549771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:53:47</td>   <td>-526771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:54:10</td>   <td>-503735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:54:35</td>   <td>-478689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:54:55</td>   <td>-458702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:55:13</td>   <td>-440122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:55:33</td>   <td>-420378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:56:01</td>   <td>-392359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:56:20</td>   <td>-373199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:56:44</td>   <td>-349841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:57:03</td>   <td>-330446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:57:28</td>   <td>-305533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:57:52</td>   <td>-281300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:58:15</td>   <td>-258854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:58:47</td>   <td>-226440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:59:07</td>   <td>-206157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:59:35</td>   <td>-178459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 19:00:14</td>   <td>-139199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 19:00:39</td>   <td>-113991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 19:01:05</td>   <td>-88233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 19:01:32</td>   <td>-61414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 19:02:05</td>   <td>-28584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
</table>
