<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="657fd0">  <td>18/06/25 18:48:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;projectbase.beforeMethod()[pri:0, instance:com.ham.project.projecttext@f6c48ac]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:48:20</td>   <td>5033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:48:44</td>   <td>28531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:49:02</td>   <td>46735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:49:27</td>   <td>72342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:49:50</td>   <td>94975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:50:12</td>   <td>117280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:50:37</td>   <td>142327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:51:03</td>   <td>167958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:51:26</td>   <td>191445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:51:51</td>   <td>215724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:52:14</td>   <td>239225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:52:37</td>   <td>262027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:52:59</td>   <td>283736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:53:24</td>   <td>308596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:53:47</td>   <td>331596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:54:10</td>   <td>354632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:54:35</td>   <td>379678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:54:55</td>   <td>399665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:55:13</td>   <td>418245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:55:33</td>   <td>437989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:56:01</td>   <td>466008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:56:20</td>   <td>485168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:56:44</td>   <td>508526</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:57:03</td>   <td>527921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:57:28</td>   <td>552834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:57:52</td>   <td>577067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:58:15</td>   <td>599513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:58:47</td>   <td>631927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:59:07</td>   <td>652210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 18:59:35</td>   <td>679908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 19:00:14</td>   <td>719168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 19:00:39</td>   <td>744376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 19:01:05</td>   <td>770134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 19:01:32</td>   <td>796953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/06/25 19:02:05</td>   <td>829783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="projecttext.f(java.lang.String, java.lang.String)[pri:0, instance:com.ham.project.projecttext@f6c48ac]">f</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/06/25 19:02:33</td>   <td>858367</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;projectbase.afterMethod()[pri:0, instance:com.ham.project.projecttext@f6c48ac]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1836797772</td>   <td></td> </tr>
</table>
